// Specific CSS for your home-page
body {
  background-color: white;

  h1 {
    font-family: "Albert Sans", "Helvetica", "sans-serif";
    text-transform: uppercase;
    text-align: left;
    padding: 20px;
  }
}
