<nav class="navbar fixed-bottom navbar-expand-sm navbar-fibr">
  <div class="nav-bottom container-fluid">
    <%= link_to  "#", class: "nav-icon" do %>
      <i class="fa-regular fa-images"></i>
    <% end %>

    <%= button_to analyses_path, method: :post, class: "nav-add" do %>
      <i class="fa-regular fa-plus"></i>
    <% end %>

    <%= link_to "#", class: "nav-icon" do %>
      <i class="fa-regular fa-circle-user"></i>
    <% end %>
  </div>
</nav>
