<div class="d-flex flex-column min-vh-100 homepage-wrapper">

  <div class="logo-container">
    <%= image_tag "Logo_black.svg", class: "homepage-logo", alt: "FIB__R Logo" %>
  </div>

  <div class="container d-flex flex-column justify-content-center flex-grow-1">
    <h1 class="mb-5">Check the quality of your clothes</h1>
    <div class="arrow-down text-center">
        <%= button_to analyses_path,
        method: :post,
        class: "btn btn_fibr_outline text-start fw-semibold" do %>
        Start analysis
      <% end %>
    </div>
  </div>

</div>
