<div class="container text-center py-5">
  <h1 class="display-4 fw-bold mb-4">Check the quality of your clothes</h1>
  <p class="lead text-muted mb-5">
    Photographiez votre pièce et obtenez en quelques secondes une analyse IA
    détaillée sur la matière, la coupe et les finitions.
  </p>
  <i class="fa-solid fa-arrow-down-long" font-size="2em" style="color: rgb(0, 0, 0);"></i>

</div>
