.navbar {
  // Removes the dark outline/border Bootstrap puts around the toggler button when clicked
  .navbar-toggler:focus {
    box-shadow: none;
  }

  // Customize your new burger menu icon here
  .custom-burger-icon {
    color: #ffffff;
    font-size: 1.5rem; // Adjust this value to make the icon larger or smaller
    transition: color 0.2s ease-in-out;
    padding-left: 15px;

    &:hover {
      color: #7b7b7b; // Adds a subtle hover state color
    }
  }
}
